.maindiv{
    display: flex;
    flex-wrap: nowrap;
}
.dark-background {
    background-color: 232121; 
    color: white; 
  }
  
  .light-background {
    background-color: white; 
    color: black; 
  }
  