/*
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.freelancer-list-container,
.header{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #6a0dad;
}
.freelancer-card {
  font-family: 'Montserrat', sans-serif;
}
.freelancer-list-container {
  width: 600px;
  margin: 215px auto;
  padding: 20px;
  
}


.freelancer-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fff;
  transition: box-shadow 0.3s;
}

.freelancer-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.freelancer-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #6a0dad;
}

.freelancer-card p {
  margin-bottom: 12px;
}

.freelancer-card strong {
  font-weight: bold;
}

.freelancer-card button {
  padding: 10px 20px;
  background-color: #6a0dad;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.freelancer-card button:hover {
  background-color: #4f0873;
}
*/