/*
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.form-container {
  width: 400px;
  margin: 220px auto; 
  padding: 20px;
  
}

.form-container1 {
  font-size: 28px; 
  margin-bottom: 20px;
  color: #6a0dad;
  font-family: 'Montserrat', sans-serif;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  font-family: 'Montserrat', sans-serif; 
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container select {
  padding: 12px; 
  margin-bottom: 20px; 
  border: 1px solid #ccc;
  border-radius: 6px; 
  font-family: 'Montserrat', sans-serif;
  width: 375px;
}

.form-container button {
  padding: 14px 28px; 
  margin-top: 13px;
  background-color: #6a0dad;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #4f0873;
}
*/
